/*------------------------------------------------------------------------------------------------------------------------*/
/*                                                      BASICS                                                            */
*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html,body{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background: linear-gradient(135deg, rgb(82, 80, 192) 0%, rgb(15,15,109) 59%, rgb(15,15,109) 100%);
}
/*------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------*/
/*                                                  UTILITY CLASSES                                                       */
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.grid{
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block{
    display: block;
}

.sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    outline: 0;
}
/*------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------*/
/*                                                   PRIMARY HEADER                                                       */
.primary_navigation li i{
    margin-left: 10px !important;
    color: #fff !important;
}

.primary_navigation li ul{
    background-color: rgb(206, 139, 39);
    border-radius: 0 0 4px 4px;
}

.primary_navigation li ul li{
    border-radius: 4px;
}

.primary_navigation li ul li a{
    color: black;
 }

 .primary_navigation li ul li a:hover{
    color: #fff;
 }

.primary_header{
    align-items: center;
    justify-content: space-between;
}

.mobile_nav_toggle{
    display: none;
}

.primary_navigation{
    list-style: none;
}

.primary_navigation a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lucida Sans Unicode' !important;
    transition: 0.2s;
}

.primary_navigation a:hover{
    color: rgb(228, 153, 41);
    transition: 0.2s;
}

.primary_navigation .seja_socio {
    background-color: rgb(228, 153, 41);
    transition: 0.2s;
    color: black;
}

.primary_navigation .seja_socio:hover {
    background-color: rgb(230, 187, 123);
    color: black;
    transition: 0.2s;
}

/*------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------*/
/*                                                      MAIN                                                              */
.apresentacao .parag, .text_side .parag_sub{
    font-family: 'Trebuchet MS';
}

.apresentacao h1{
    color: rgb(228, 153, 41);
    font-family: 'Lucida Sans Unicode' !important;
}


.apresentacao .parag, .text_side .parag_sub{
    text-align: justify;
    color: #fff;
}

.parag_sub span{
    color: rgb(228, 153, 41);
}

.apresentacao .parag span{
    color: rgb(228, 153, 41);
}

.balls_side img{
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.801) 0px 10px 15px;
}


.text_side .espaco_imaginario{
    opacity: 0;
}

main{
    margin-bottom: 10rem;
}
/*------------------------------------------------------------------------------------------------------------------------*/
/*                                                    FOOTER                                                                   */
footer{
    background-color: rgb(189, 127, 35);
}

footer .footer_container{
    padding-bottom: 2rem;
}

.footer_esquerdo .footer_redes i{
    color: black;
    transition: 0.1s;
}

.footer_esquerdo .footer_redes i:hover{
    color: rgb(15,15,109);
    transition: 0.1s;
}

.footer_esquerdo .flex h3{
    font-family: 'Lucida Sans Unicode' !important;
    color:rgb(15,15,109);
}

.footer_esquerdo p{
    font-family: 'Trebuchet MS';
}

.footer_esquerdo p span, p{
    color: black;
}

.footer_esquerdo .footer_form input{
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS';
}

.footer_esquerdo .footer_form input:focus{
    background-color: rgb(202, 202, 202);
}

.footer_form button{
    font-family: 'Trebuchet MS';
    border-radius: 5px;
    border: none;
    background-color: rgb(15,15,109);
    color: #fff;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
}

.footer_form button:hover{
    background-color: rgb(46, 46, 190);
    transition: 0.2s;
}

.footer_direito a{
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode' !important;
    transition: 0.1s;
}

.footer_direito a:hover{
    color: rgb(15,15,109);
    transition: 0.1s;
}

.footer_direito .footer_columns{
    flex-direction: column;
    gap: 2rem;
}

.footer_direito{
    margin-top: -8rem;
    gap: 2rem;
    font-size: 1.1rem;
    position: absolute;
    right: 0;
    margin-right: 3.5rem;
}








