@media screen and (min-width: 1189px){
    .carrosel_fotos .item .card_teste{
        height: 440px;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin: 1rem;
        border-radius: 20px;
        position: relative;
    }

    .card_teste h2{
        font-family: 'Lucida Sans Unicode';
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    .item .card_teste::before{
        content: "";
        position: absolute;
        height: 40%;
        width: 100%;
        top: 0;
        background-color: rgb(228, 153, 41);
        border-radius: 20px 20px 0 0;
    }

    .card_teste .fotos_cards{
        border-radius: 50%;
        border: 3px solid rgb(228, 153, 41);
        height: 220px;
        width: 220px !important;
        z-index: 100;
    }

    .card_teste .icons_cards{
        gap: 1rem;
    }

    .card_teste .icons_cards i{
        color:  rgb(15,15,109);
        font-size: 2.3rem;
        transition: 0.2s;
    }

    .card_teste .icons_cards i:hover{
        color:  rgb(69, 69, 209);
        transition: 0.2s;
    }

    .carrosel_fotos{
        margin-bottom: 3rem;
    }

    .sobre_nos{
        margin-bottom: 5rem;
    }

    main .sobre_nos .parag, .eventos .parag{
        margin: 2rem;
        margin-left: 13rem;
        margin-right: 13rem;
        font-size: 1.5rem;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        text-align: center;
        font-size: 4rem;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 400px;
    }

    .eventos .images_eventos{
        margin: 3rem;  
        margin-left: 19rem;
        margin-right: 19rem;
        flex-direction: column; 
    }

    .primary_navigation li:hover .sobre_netuno_ul, .primary_navigation li a:hover ul{
        height: 150px;
    }

    .primary_navigation li:hover .quem_somos_ul, .primary_navigation li a:hover ul{
        height: 80px;
    }

    .primary_navigation li .sobre_netuno_ul{
        width: 190px;
    }

    .primary_navigation li .quem_somos_ul{
        width: 130px;
    }
    
}


/*=============================================================================================================================*/


@media screen and (min-width: 1400px){
    
    main .sobre_nos .parag, .eventos .parag{
        margin: 2rem;
        margin-left: 13rem;
        margin-right: 13rem;
        font-size: 1.5rem;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        text-align: center;
        font-size: 4rem;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 500px;
    }

    .eventos .images_eventos{
        margin: 3rem;  
        margin-left: 19rem;
        margin-right: 19rem;
        flex-direction: column; 
    }
    
}


/*=============================================================================================================================*/


@media screen and (min-width: 1610px){
    main .sobre_nos .parag, .eventos .parag{
        margin: 2rem;
        margin-left: 13rem;
        margin-right: 13rem;
        font-size: 1.5rem;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        text-align: center;
        font-size: 4rem;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 600px;
    }

    .eventos .images_eventos{
        margin: 3rem;  
        margin-left: 18rem;
        margin-right: 18rem;
        flex-direction: column; 
    }
    
}


/*=============================================================================================================================*/


@media screen and (min-width: 1800px){
    main .sobre_nos .parag, .eventos .parag{
        margin: 2rem;
        margin-left: 13rem;
        margin-right: 13rem;
        font-size: 1.5rem;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        text-align: center;
        font-size: 4rem;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 700px;
    }

    .eventos .images_eventos{
        margin: 3rem;  
        margin-left: 18rem;
        margin-right: 18rem;
        flex-direction: column; 
    }
    
}


/*=============================================================================================================================*/


@media screen and (max-width:1188px){
    /*-----------------------------------------------------------------------------------------------------------*/
    /*                                                MAIN(CAROUSEL)                                             */
    .carrosel_fotos .item .card_teste{
        height: 440px;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin: 1.5rem;
        border-radius: 20px;
        position: relative;
    }

    .card_teste h2{
        font-family: 'Lucida Sans Unicode';
        font-size: 1.4rem;
    }

    .item .card_teste::before{
        content: "";
        position: absolute;
        height: 40%;
        width: 100%;
        top: 0;
        background-color: rgb(228, 153, 41);
        border-radius: 20px 20px 0 0;
    }

    .card_teste .fotos_cards{
        border-radius: 50%;
        border: 3px solid rgb(228, 153, 41);
        height: 280px;
        width: 280px !important;
        z-index: 100;
    }

    .card_teste .icons_cards{
        gap: 1rem;
    }

    .card_teste .icons_cards i{
        color:  rgb(15,15,109);
        font-size: 2.3rem;
        transition: 0.2s;
    }

    .card_teste .icons_cards i:hover{
        color:  rgb(69, 69, 209);
        transition: 0.2s;
    }

    .carrosel_fotos{
        margin-bottom: 3rem;
    }

    .sobre_nos{
        margin-bottom: 5rem;
    }

    main .sobre_nos .parag, .eventos .parag{
        margin: 2rem;
        font-size: 1.4rem;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        text-align: center;
        font-size: 3.4rem;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 550px;
    }

    .eventos .images_eventos{
        margin: 4rem;  
        flex-direction: column; 
    }
    

}


/*=============================================================================================================================*/

@media screen and (max-width: 950px){
    
    main .sobre_nos .parag, .eventos .parag{
        margin: 2rem;
        font-size: 1.4rem;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        text-align: center;
        font-size: 3.2rem;
    }

    .card_teste .fotos_cards{
        border-radius: 50%;
        border: 3px solid rgb(228, 153, 41);
        height: 260px;
        width: 260px !important;
        z-index: 100;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 500px;
    }

    .eventos .images_eventos{
        margin: 3rem;  
        flex-direction: column; 
    }
}



/*=============================================================================================================================*/

@media screen and (max-width: 768px){
    
    main .sobre_nos .parag, .eventos .parag{
        margin: 2rem;
        font-size: 1.4rem;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        text-align: center;
        font-size: 3.2rem;
    }

    .card_teste .fotos_cards{
        border-radius: 50%;
        border: 3px solid rgb(228, 153, 41);
        height: 260px;
        width: 260px !important;
        z-index: 100;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 370px;
    }

    .eventos .images_eventos{
        margin: 1.2rem;  
        flex-direction: column; 
    }
}



/*=============================================================================================================================*/



@media screen and (max-width: 620px){ 
    .card_teste h2{
        font-size: 1.4rem;
    }

    main .sobre_nos .parag, .eventos .parag{
        font-size: 1.2rem;
        word-spacing: 1px;
        line-height: 1.3;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        font-size: 2.5rem; 
    }

    .card_teste h2{
        font-size: 1.4rem;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 280px;
    }
   
}




/*=============================================================================================================================*/

@media screen and (max-width: 470px){
    main .sobre_nos .parag, .eventos .parag{
        font-size: 1.2rem;
        word-spacing: 1px;
        line-height: 1.3;
    }

    main .sobre_nos .titulo, .eventos .titulo{
        font-size: 2.5rem; 
    }

    .card_teste h2{
        font-size: 1.4rem;
    }

    .eventos .images_eventos img{
        width: 100%;  
        height: 220px;
    }
    
   
}

